


body {
    background-image: url("/static/images/bread_bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    font-family: sans-serif;
}

/* Transparent content box */
.container {
    background:rgba(255, 255, 255, 0.85);
    padding: 20px;
    border-radius: 12px;
    max-width: 900px;
    margin: 40px auto;
    box-shadow: 0px 4px 12px
    rgba(0, 0, 0, 0.2);
}